html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 600px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.badge-orange {
  color: white;
  background-color: orange;
}

.badge-brown {
  color: white;
  background-color: brown;
}

.requests-list-filter .dropdown-menu.show {
  width: 100vw;
  max-width: 600px;
}
